[Unit]
Description=Fault Manager daemon
Requires=updategraph.service
After=updategraph.service
BindsTo=sonic.target
After=sonic.target
After=database-chassis.service

[Service]
Type=simple
ExecStart=/usr/local/bin/faultmgrd
Restart=always
RestartSec=30

[Install]
WantedBy=sonic.target
