# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
      - '*'

variables:
  DIFF_COVER_CHECK_THRESHOLD: 50
  DIFF_COVER_ENABLE: 'true'
  DIFF_COVER_WORKING_DIRECTORY: $(System.DefaultWorkingDirectory)

pr:
  branches:
    include:
      - '*'

pool: sonicbld-armhf

resources:
  containers:
  - container: sonic-slave-bullseye-armhf
    image: sonicdev-microsoft.azurecr.io:443/sonic-slave-bullseye-armhf:latest

parameters:
- name: project_list
  type: object
  default:
    - name: ycabled
      root_dir: sonic-ycabled
      python3: true
- name: artifactBranch
  type: string
  default: 'refs/heads/master'

jobs:
  - job: build_test
    container: sonic-slave-bullseye-armhf
    variables:
      sourceBranch: "$(Build.SourceBranch)"
    steps:
    - checkout: self
      clean: true
    - script: |
        if [[ $(Build.Reason) == "Manual" ]];then
          echo "##vso[task.setvariable variable=sourceBranch]${{ parameters.artifactBranch }}"
        fi
        if [[ $(Build.Reason) == "PullRequest" ]];then
          echo "##vso[task.setvariable variable=sourceBranch]refs/heads/$(System.PullRequest.TargetBranch)"
        fi
      displayName: Setup artifacts download branch
    - task: DownloadPipelineArtifact@2
      inputs:
        source: 'specific'
        project: 'build'
        pipeline: 142
        artifact: 'sonic-buildimage.vs'
        runVersion: 'latestFromBranch'
        runBranch: "$(sourceBranch)"
      displayName: "Download artifacts from latest sonic-buildimage build"

    - script: |
        set -xe
        sudo apt-get -y purge libhiredis-dev libnl-3-dev libnl-route-3-dev
        sudo dpkg -i libnl-3-200_*.deb
        sudo dpkg -i libnl-genl-3-200_*.deb
        sudo dpkg -i libnl-route-3-200_*.deb
        sudo dpkg -i libnl-nf-3-200_*.deb
        sudo dpkg -i libhiredis0.14_*.deb
        sudo dpkg -i libswsscommon_1.0.0_amd64.deb
        sudo dpkg -i python3-swsscommon_1.0.0_amd64.deb
      workingDirectory: $(Pipeline.Workspace)/target/debs/bullseye/
      displayName: 'Install Debian dependencies'

    - script: |
        set -xe
        sudo pip3 install swsssdk-2.0.1-py3-none-any.whl
        sudo pip3 install sonic_py_common-1.0-py3-none-any.whl
        sudo pip3 install sonic_yang_mgmt-1.0-py3-none-any.whl
        sudo pip3 install sonic_yang_models-1.0-py3-none-any.whl
        sudo pip3 install sonic_config_engine-1.0-py3-none-any.whl
        sudo pip3 install sonic_platform_common-1.0-py3-none-any.whl
      workingDirectory: $(Pipeline.Workspace)/target/python-wheels/bullseye/
      displayName: 'Install Python dependencies'

    - ${{ each project in parameters.project_list }}:
      # Python 3
      - ${{ if eq(project.python3, true) }}:
        - script: |
            python3 setup.py test
          workingDirectory: ${{ project.root_dir }}
          displayName: '${{ project.name }}(Py3) Test'

        - script: |
            set -e
            python3 setup.py bdist_wheel
          workingDirectory: ${{ project.root_dir }}
          displayName: '${{ project.name }}(Py3) Build'

        - publish: '$(System.DefaultWorkingDirectory)/${{ project.root_dir }}/dist/'
          artifact: ${{ project.root_dir }}
          displayName: "${{ project.name }}(Py3) Publish wheels"
